body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 30px;
  text-align: center;
}

.Header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #8ee4af;
  justify-content: center;
  gap: 20px;
}

.content {
  position: relative;
  background-color: #7fa880;
  height: 100vh;
}

.form {
  /* position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 200px; */
  padding: 40px;
  text-align: center;
  background-color: #4071a1;
}

.categories {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  gap: 10px;
  flex-wrap: wrap;
}

.category {
  width: 100px;
  padding: 30px;
  background-color: #4071a1;
}

button {
  width: 50px;
  height: 50px;
}

.level_icon {
  padding-top: 20px;
}

.answer {
  padding-top: 30px;
}
