.Header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #8ee4af;
  justify-content: center;
}

.content{
  position: relative;
}

.form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 200px;
  padding: 40px;
  text-align: center;
  background-color: #4071a1;
  margin-top: 100px;
}

.categories{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.category{
  width: 100px;
  padding: 30px;
  background-color: #4071a1;
}

button{
  width: 150px;
  height: 150px;
}